# Dependencias
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de entorno
.env
.env.*

# Build / output
dist
build

# Coverage
coverage

# Cache
.cache
.parcel-cache

# Sistema
.DS_Store

# Editor
.vscode